
.ncwa-badge {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 173px;
  height: 173px;
}


body {
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  margin-top: 0px;
  color: #0c0c0a;
}

a {
  color:  #a05725;
  padding-bottom: 2px;
  border-bottom: 1px #d8a271 dotted;
}

a:hover,
a:active {
  color:  #a05725;
}
.page-header {
  padding-bottom: 9px;
  margin: 0px 0 20px;
  border-bottom: none;
}

h1 {
  font-family: 'Rosario', sans-serif;
  font-weight: bold;
  font-size: 2em;
  line-height: 0.5em;
}

h2 {
  font-family: 'Rosario', sans-serif;
  font-size: 1.4em;
  line-height: 1.4em;
  background-color: #dbd7ca;
  width: 100%;
  padding: 6px;
  margin: 5px 0;
  border-left: solid 3px #a2a18f;
}

.nav > li > a {
  font-family: 'Questrial', sans-serif;
  font-size: 1.4em;
  line-height: 1.4em;
  background-color: #dbd7ca;
  width: 300px;
  padding: 6px;
  margin: 5px 0;
  border: none;
  border-left: solid 3px #a2a18f;
  border-radius: 0;
  color: #0c0c0a;
}

.nav > li > a:hover {
  border: none;
  border-color: none;
  background-color: #d8a271;
  border-left: solid 3px #a05725;
}

h3,h4,h5,h6 {
  font-family: 'Rosario', sans-serif;
  font-size: 1.4em;
  line-height: 1em;
}

.menu {
  float: right;
  margin-right: 100px;
}
