.basin { 
  fill: #ddc;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

path.well {
  fill: #000000;
  fill-opacity: .5;
  z-index: 1000;
}

path:hover {
  fill: blue;
  fill-opacity: .3;
}

path.well:hover {
  fill: red;
  fill-opacity: .7;
}


.well-label {
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  margin-top: 0px;
  color: #0c0c0a;
}
