.basin { 
  fill: #ededed;
  stroke: #ea8028;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}


path:hover {
  fill: blue;
  fill-opacity: .3;
}



.basins text,
.well-label {
  font-family: 'Questrial', sans-serif;
  font-size: 12px;
  margin-top: 0px;
  color: #0c0c0a;
/*   fill: #b2570d; */
  
  text-anchor: middle;
}

svg[zoom="1"] text.well-label,
svg[zoom="2"] text.well-label,
svg[zoom="3"] text.well-label,
svg[zoom="4"] text.well-label,
svg[zoom="5"] text.well-label,
svg[zoom="6"] text.well-label,
svg[zoom="7"] text.well-label { 
  display: none;
}

svg[zoom="8"] text.well-label,
svg[zoom="9"] text.well-label{
  display: block;
  font-size: 8px;
}
svg[zoom="10"] text.well-label,
svg[zoom="11"] text.well-label,
svg[zoom="12"] text.well-label {
  display: block;
  font-size: 10px;

}
svg[zoom="13"] text.well-label,
svg[zoom="14"] text.well-label { 
  display: block;
  font-size: 12px;
}



svg[zoom="1"] text.basin-label,
svg[zoom="2"] text.basin-label,
svg[zoom="3"] text.basin-label,
svg[zoom="4"] text.basin-label,
svg[zoom="5"] text.basin-label,
svg[zoom="6"] text.basin-label,
svg[zoom="7"] text.basin-label { 
  display: none;
}

svg[zoom="8"] text.basin-label,
svg[zoom="9"] text.basin-label{
  display: block;
  font-size: 8px;
}
svg[zoom="10"] text.basin-label,
svg[zoom="11"] text.basin-label,
svg[zoom="12"] text.basin-label {
  display: block;
  font-size: 12px;

}
svg[zoom="13"] text.basin-label,
svg[zoom="14"] text.basin-label { 
  display: block;
  font-size: 16px;
}


path.well {
  fill: #353535;
/*   fill-opacity: .5; */
  z-index: 1000;
}
path.well:hover {
/*
  fill: red;
  fill-opacity: .7;
*/
}
path.well[well-use="Unknown"] {
  fill: #353535;
}
path.well[well-use="Residential"] {
  fill: #eac928;
}
path.well[well-use="Irrigation"] {
  fill: #16c116;
}
path.well[well-use="Observation"] {
  fill: #476ad6;
}
path.well[well-use="Other"] {
  fill: #606060;
}
path.well[well-use="Stockwatering"] {
  fill: #ad8853;
}


.ui-slider-label-ticks span {
  font-size: 12px;
  font-family: 'Questrial', sans-serif;
  min-width: 1.2em;
}

.legend-item {
  font-size: 12px;
}

.wrapper {
   margin: auto;
   position: relative;
   width: 400px;
   height: 400px;
   margin-top: 10px;
}

.controls {
   position: absolute;
   bottom: 30px;
   right: 0;
   font-size: 8pt;
   text-align: right;
}
.controls .clabel { font-size: .9em; }
.ui-spinner { width: 4em; }