.basin { 
  fill: #ededed;
  stroke: #ea8028;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}


path.well {
  fill: #000000;
  fill-opacity: .5;
  z-index: 1000;
}

path:hover {
  fill: blue;
  fill-opacity: .3;
}

path.well:hover {
  fill: red;
  fill-opacity: .7;
}

.basins text,
.well-label {
  font-family: 'Questrial', sans-serif;
  font-size: 12px;
  margin-top: 0px;
  color: #0c0c0a;
/*   fill: #b2570d; */
}



g.basins[zoom="1"] text.basin-label,
g.basins[zoom="2"] text.basin-label,
g.basins[zoom="3"] text.basin-label,
g.basins[zoom="4"] text.basin-label,
g.basins[zoom="5"] text.basin-label,
g.basins[zoom="6"] text.basin-label,
g.basins[zoom="7"] text.basin-label { 
  display: none;
}

g.basins[zoom="8"] text.basin-label,
g.basins[zoom="9"] text.basin-label,
g.basins[zoom="10"] text.basin-label,
g.basins[zoom="11"] text.basin-label,
g.basins[zoom="12"] text.basin-label {
  display: block;
  font-size: 12px;

}
g.basins[zoom="13"] text.basin-label,
g.basins[zoom="14"] text.basin-label { 
  display: block;
  font-size: 16px;
}



.ui-slider-label-ticks span {
  font-size: 12px;
  font-family: 'Questrial', sans-serif;
  min-width: 1.2em;
}

.legend-item {
  font-size: 12px;
}

.wrapper {
   margin: auto;
   position: relative;
   width: 400px;
   height: 400px;
   margin-top: 10px;
}

.controls {
   position: absolute;
   bottom: 30px;
   right: 0;
   font-size: 8pt;
   text-align: right;
}
.controls .clabel { font-size: .9em; }
.ui-spinner { width: 4em; }