/*
font-family: 'Questrial', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Rosario', sans-serif;
*/

.ncwa-badge {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 173px;
  height: 173px;
}


body {
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  margin-top: 0px;
}

.page-header {
  padding-bottom: 9px;
  margin: 0px 0 20px;
  border-bottom: none;
}

h1 {
  font-family: 'Rosario', sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 0.5em;
}

h2 {
  font-family: 'Questrial', sans-serif;
  font-size: 1em;
  line-height: 1em;
}

h3,h4,h5,h6 {
  font-family: 'Questrial', sans-serif;
  font-size: 1em;
  line-height: 1em;
}

.menu {
  float: right;
  margin-right: 100px;
}

.search {
  margin: 5px;
}

.menu li {
  float: left;
  list-style: none;
  margin-right: 10px;
}

#date-start {

  float: left;
  width: 150px;
}

#date-end {
  float: left;
  width: 150px;
}

.slider {
  float: left;
  width:500px;
}

body { margin:0; padding:0; }

.legend {
  width: 250px;
  height: 220px;
  position: relative;
  top: -250px;
  margin: 0 0 8px 8px;
  background: #ffffff;
  z-index: 1000;
}

#map { 
  position: relative;
  height: 400px;
}

.basin { 
  fill: #ddc;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.d3-vec { position:absolute; }

path {
  fill: #666;
  fill-opacity: .2;
}

path:hover {
  fill: brown;
  fill-opacity: .7;
}













.county {
  background-color: green;
}

.wellID {
  background-color: silver;
}



body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 30px auto;
  width: 1280px;
  position: relative;
}

header {
  padding: 6px 0;
}

.group {
  margin-bottom: 1em;
}

.axis {
  font: 10px sans-serif;
  position: fixed;
  pointer-events: none;
  z-index: 2;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.top {
  background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  top: 0px;
  padding: 0 0 24px 0;
}

.axis.bottom {
  background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  bottom: 0px;
  padding: 24px 0 0 0;
}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  z-index: 2;
}